body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2;
	font-size: 1em;
	line-height: 1.5em;

	padding-top: 80px;
}

h1 {
	font-size: 2.3em;
  line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

h2 {
	text-align: center;
}

p {
	margin: 0 0 1.5em 0;
	font-size: 1.3em;
}

img {
	max-width: 75%;
	height: auto;
	margin: 10px auto;
	display:block;
}

.logo_cliente {
	width: 50%;
  height: 50%;
	display: block;
	margin: 0px auto;
}

#contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#contenedor > div {
  width: 50%;
}

#columnas{
   column-count:4;
   column-gap:20px;
   column-rule:4px dotted gray;
   list-style: none;
	 text-align: center;
}

/************
//-------------------------------
// CABECERA
//-------------------------------
************/
#main-header {
	background: #333;
	color: white;
	height: 80px;

	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
}
	#main-header a {
		color: white;
	}


/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}

	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}

	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}


/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}

		nav ul li {
			display: inline-block;
			line-height: 80px;
		}

			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}

				nav ul li a:hover {
					background: #0b76a6;
				}




/************
//------------------------------
// CONTENIDO
//------------------------------
************/
#main-content {
	background: white;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

	#main-content header,
	#main-content .content {
		padding: 40px;
	}



/************
//-----------------------------
// PIE PÁGINA
//-----------------------------
************/
#main-footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
	#main-footer p {
		margin: 0;
	}

	#main-footer a {
		color: white;
	}

/********************
//-------------------------------
// Ir arriba
//-------------------------------
********************/
	.ir-arriba {
	display:none;
	padding:20px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}

/************
//------------------------------
// FORMULARIO
//------------------------------
************/

.form-consulta {
	max-width: 500px;
	background: #eee;
	padding: 25px;
	font-family: 'Source Sans Pro', sans-serif;
}
.campo-form {
	width:100%;
	height:36px;
	margin:2px 0 6px;
	padding-left:6px;
	box-sizing: border-box;
	border-radius:3px;
	border:0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:1em;}
label span {
	color: #f00;
}
textarea {
	min-height: 150px!important;
}
.btn-form {
	display: inline-block;
	border:0;
	background: #000;
	height: 46px;
	line-height: 46px;
	padding: 0 20px;
	border-radius: 6px;
	color:#fff;
	text-decoration: none;
	text-transform:
	uppercase;
	letter-spacing: 1px
}
.btn-form:hover {
	background: #444;
}
